services:
    swag:
        image: lscr.io/linuxserver/swag:latest
        container_name: swag
        cap_add:
            - NET_ADMIN
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Europe/London
            - URL=${DOMAIN}
            - SUBDOMAINS=wildcard
            - EMAIL=${EMAIL}
            - VALIDATION=dns
            - DNSPLUGIN=cloudflare
        volumes:
            - /srv/swag/config:/config
        ports:
            - 80:80
            - 443:443
        networks:
            - proxy
        restart: unless-stopped

networks:
    proxy:
        external: true
