# https://github.com/onetimesecret/onetimesecret
services:
    redis:
        image: redis:bookworm
        container_name: ots_redis
        command: ['redis-server', '--appendonly', 'yes']
        volumes:
            - /srv/onetimesecret/redis:/data
        networks:
            - ots
        restart: unless-stopped

    onetimesecret:
        image: onetimesecret/onetimesecret:latest
        container_name: onetimesecret
        environment:
            - RACK_ENV=production
            - HOST=${OTS_HOST}
            - SSL=true
            - DEFAULT_DOMAIN=${OTS_HOST}
            - SECRET=${OTS_SECRET}
            - REDIS_URL=redis://ots_redis:6379/0
            - AUTH_REQUIRED=false
        networks:
            - ots
            - proxy
        depends_on:
            - redis
        restart: unless-stopped
        ports:
            - ${WEB_UI_PORT}:3000

networks:
    ots:
        driver: bridge
    proxy:
        external: true
